@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

.menu{
    list-style-type: none;
    font-weight: 900;
    font-size: 15px;
}
.menu li{
    display:inline;
    margin-right: 10px;
    padding: 10px;
}
.menu li a{
    color: rgba(248, 246, 245, 0.952);
}
nav{
    float:right ;
    margin-top: 120px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

img{
    width: 130px;
    margin-top:  10px; 
    margin-left: 50px;
}

a{ text-decoration: none;
   padding: 5px 12px;

}

li:hover a{
    color: crimson;
}
header{
    background-color: rgb(10, 10, 107);
    height: 150px;
    width: 100%;
}
 
header .container{
    display: inline;    
    align-items: center;
    
}

article marquee {
    height: 100px;
    font-size: 50px;
    margin-top: 40px;
    color: rgb(233, 8, 53);
    background-color: aliceblue;
    }

h1{
    font-size: 30px ;
    color:rgb(10, 10, 165) ;

} 

h2{
    font-size: 30px ;
    color:rgb(10, 10, 165) ;

}

h3{
    font-size: 30px ;
    color:rgb(10, 10, 165) ;
    margin-left: 500px;
        
}

 #caracteristicas {
        font-size: 20px;
 }
    

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    color: white;
    background-color: crimson ;
}

button:hover{
     background-color: rgb(146, 14, 40);
}

p{
     color:rgb(10, 10, 107);
     font-size: 20px;
     padding: 15px;
     display: flex;
}

.container{
    max-width: 1400px;
    margin: auto;
}

#nuestro-contenido{
    background-color: aliceblue;
    text-align: center;

}


#nuestro-contenido .container{
    padding: 100px 12px;
    
      
}

#nuestro-contenido p{
    display: none;
}

#nuestro-contenido h1{
    margin-bottom: 100px;
}



.carta:first-child{
    background-image: url();
}

      

.carta:nth-child(2){
    background-image: url() 
    linear-gradient( 0deg,
    rgb(10, 10, 107, 0.5),
    rgb(10, 10, 107, 0.5)
    )
    
}

.carta:nth-child(3){
    background-image: linear-gradient( 0deg,
     rgb(10, 10, 107, 0.5),
     rgb(10, 10, 107, 0.5)
     )
}

footer{
    background-color: rgb(10, 10, 107);
    height: 150px;
    margin-bottom: auto;
}

footer marquee {
    color: aliceblue;
    font-size: 20px;
}

.redes {
    text-align: center;
    font-size: 40px;
    color:aliceblue;
    letter-spacing: 20px;
    text-shadow: 0 0 5px antiquewhite;
    
}

.redes a{
    color: aliceblue;

}

.redes a:hover{
    color: crimson;
}
    
